.config/libreoffice/4/cache/
.config/libreoffice/4/user/backup/
.config/libreoffice/4/user/lock
.config/libreoffice/4/user/registrymodifications.xcu
.config/libreoffice/4/user/pack/registrymodifications.pack
.config/libreoffice/4/user/config/javasettings_Linux_X86_64.xml
.config/libreoffice/4/user/pack/config/javasettings_Linux_X86_64.pack
