[user]
	name = Kyle Grealis
	email = kyle@kyleGrealis.com
[credential]
	helper = cache
[core]
	excludesFile = ~/.gitignore
	autocrlf = false
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
