#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Proton Drive
Exec=/opt/brave-bin/brave --profile-directory=Default --app-id=fnnddiokljlbkmeppnclajginnfbffgb
Icon=/home/kyle/.local/share/icons/proton-mail.png
StartupWMClass=crx_fnnddiokljlbkmeppnclajginnfbffgb
